* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    -webkit-appearance: none;
    font-family: sans-serif;  
    scroll-behavior: smooth;
}

body{
    background: black;
 
}
#rightArrow{
    position:relative;
    cursor: pointer;
    top:45%;
    margin-right: 0px;
    color: white;
    }
 #leftArrow{
    position:relative;
        cursor: pointer;
        top:45%;
        margin-left: 0px;
        color: white;
        }
   
.banner{
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    max-width: 2000px;   
    margin-top: 0;
    width: 100%;
    max-width: 2000px;
    height: 720px;
    padding: 20px 0;
    flex-shrink: inherit;
}
.banner--image1{
background-image: url("https://1.bp.blogspot.com/-SGEs1uhsbOU/YPWsacvHSjI/AAAAAAAAVjc/bLv0iHZ4k60H6P_jjZ-DgE4SxZbb9Pg9gCLcBGAsYHQ/s2048/20210713_202227.jpg");
transition: background-image 1s ease-in-out;
}
.banner--image2{
background-image: url("https://1.bp.blogspot.com/-QD4PUvt_xP8/X0Uio29F2OI/AAAAAAAAQFo/WrOJVcIBVjEaPNcnq5gog_iGOUVXPVQ1gCPcBGAsYHg/s4032/20200811_112158.jpg");
transition: background-image 1s ease-in-out;
}
.banner--image3{
background-image: url("https://1.bp.blogspot.com/-IWNj6GuP4P8/YPWlKQ6nf3I/AAAAAAAAVfs/MCdRv8451_gSLo0fXy9wJovw3k8vkCBfACPcBGAsYHg/s4032/20210712_130151.jpg");
transition: background-image 1s ease-in-out;
}
.hero__arrow {
    height: 100%;
    padding: 10px;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.3);
    border: none;
    background: none;
    cursor: pointer;
}
.hero__arrow:hover {
    color: var(--color-white);
}
.hero__arrow:focus {
    outline: none;
}
.nav{
    color: white;
    text-transform: uppercase;
    text-decoration: none;

}
ul{
    margin-left: 10px;
    margin-right: 10px;
}
.caption{
    font-style: italic;
    padding-bottom: 2em;
    margin-left: .2em;
}
li{
    display: flex;
    text-decoration: none;
    background: rgb(39, 38, 38);
    list-style: none;
}
    
.top{
    background: rgb(14, 13, 13, 0.8);
    width: 750px;

}
/* .main p{
    
    width: 700px;
} */
.container{
    width: 800px;
    display: flex;
    justify-content: center;
}
.top, .main {
    margin-top: 3em;
    color: whitesmoke;
    display: flex;

    
}
.top{
    text-align: center;
}
h1 {
    text-justify: center;
    text-transform: uppercase;
}
h2{
    text-transform: uppercase;
    
}
.main{
    background: rgb(14, 13, 13, 0.8);
    flex-direction: column;
    margin: 2em;
    justify-content: space-evenly;
    /* width: 500px; */
    text-justify: center;
}
.ninebynine{
    margin-left: 3em;
    color: #FFFFFF;
    display: grid;	
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .1fr .1fr .1fr;
    flex-shrink: 1 1 1;
    
   
    }
    img{
        height: auto;
        max-width: 300px;
    }
.footer{
    color: white;
}
.nav:hover{
    background: rgba(126, 117, 117, 0.7);
}
@media screen and (min-width: 1200px){
    .ninebynine{
        margin-left: 0em;
    color: #FFFFFF;
    display: grid;	
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .1fr .1fr .1fr;
    flex-shrink: 1 1 1;
        }
        p{
            padding: 1em;
     }
  img{
            height: auto;
            max-width: 400px;
        }

}
@media screen and (max-width: 800px){
    .ninebynine{
        margin-left: 1.5em;
        color: #FFFFFF;
        display: grid;	
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .1fr .1fr;
        flex-shrink: 1 1 1;
        }
        p{
            padding: 1em;
     }
}
@media screen and (max-width: 600px){

    #ban1{
        max-width: 600px;
     
    }
    .ninebynine{
        margin-left: .2em;
        color: #FFFFFF;
        display: grid;	
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .1fr .1fr ;
        flex-shrink: 1;
    }
    
    .ninebynine.a{
        padding-left: 0;
        flex-shrink: 1;
       }
       .top, .container {
           width: 600px;
       }
       p{
        padding: 1em;
 }
    }


@media screen and (max-width: 541px){
    #ban1{
        max-width: 541px;
     
    }
    .ninebynine{
        margin-left: 2em;
        margin-bottom: 0.9em;
        color: #FFFFFF;
        display: grid;	
        grid-template-columns: 1fr;
        grid-template-rows: .3fr; 
        flex-shrink: 1;
    }
    .top, .container, p {
        width: 450px;
    }
    p{
        padding: 1em;
 }
    
}
@media screen and (max-width: 412px){
    #ban1{
        max-width: 412px;
        margin-left: 1em;;
     
    }
    .top, .container, p {
        width: 370px;
    }
    p{
        padding: 1em;
 }
    .ninebynine{
        margin-left: 1em;
        margin-bottom: 1em;
        color: #FFFFFF;
        display: grid;	
        grid-template-columns: 1fr;
        grid-template-rows: .2fr;
        flex-shrink: 1;
    }
    li{
        font-size: .8em;
    }

}   

@media screen and (max-width: 361px){
    #ban1{
        max-width: 361px;
        margin-left: 1em;;
     
    }
    .top, .container, p{
        width: 300px;
    }
    p{
        padding: 1em;
 }
    .ninebynine{
        margin-left: .3em;
        margin-bottom: 1em;
        color: #FFFFFF;
        display: grid;	
        grid-template-columns: 1fr;
        grid-template-rows: .2fr;
        flex-shrink: 1;
       
    }
    li{
        font-size: .7em;
    }

}   
