* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;  
    scroll-behavior: smooth;
}
body{
    background: black;
 
}
#rightArrow{
    position:relative;
    cursor: pointer;
    top:45%;
    margin-right: 0px;
    color: white;
    }
 #leftArrow{
    position:relative;
        cursor: pointer;
        top:45%;
        margin-left: 0px;
        color: white;
        }
   
.banner{
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    max-width: 2000px;   
    margin-top: 2em;
    width: 100%;
    max-width: 2000px;
    height: 540px;
    padding: 20px 0;
    flex-shrink: inherit;
}
.banner--image1{
background-image: url("https://4.bp.blogspot.com/-hQVNCXiwFuA/XJ0cQki-wcI/AAAAAAAAJfw/DFt8bHSm8Vs_iAvNwK-f4tg8fiWeGoPCQCKgBGAs/s1600/IMG_20190320_151927.jpg");
transition: background-image 1s ease-in-out;
}
.banner--image2{
background-image: url("https://1.bp.blogspot.com/-5Mf3HHql3tw/XZ-pm-ASUjI/AAAAAAAAKus/sDOTWDqGgNY-2XqhFfKyd6o5ctenxy79gCLcBGAsYHQ/s1600/20191006_103135.jpg");
transition: background-image 1s ease-in-out;
}
.banner--image3{
background-image: url("https://1.bp.blogspot.com/-OD7zTrTQLX4/Xgtcs845feI/AAAAAAAANNM/t3ZzqTNsXvMRwSBIZQfKduMEZEGmywergCEwYBhgL/s1600/20191112_133842.jpg");
transition: background-image 1s ease-in-out;
}
.hero__arrow {
    height: 100%;
    padding: 10px;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.3);
    border: none;
    background: none;
    cursor: pointer;
}
.hero__arrow:hover {
    color: var(--color-white);
}
.hero__arrow:focus {
    outline: none;
}
.nav{
    color: white;
    text-transform: uppercase;
    text-decoration: none;

}
ul{
    margin-left: 0px;
    margin-right: 0px;
}
li{
    display: flex;
    text-decoration: none;
    background: rgb(39, 38, 38);
    list-style: none;
    text-justify: flex-end;
}
.main p{
    
    width: 300px;
}
.container{
    display: flex;
    justify-content: center;
}
.top, .main {
    margin-top: 3em;
    color: whitesmoke;
    display: flex;
   
    
}
.top{
    text-align: center;
}
h1 {
    text-justify: center;
    text-transform: uppercase;
}
h2{
    text-transform: uppercase;
    
}
.main{
    background: rgb(14, 13, 13, 0.8);
    flex-direction: column;
    margin: 3em;
    justify-content: space-evenly;
    width: 500px;
    text-justify: center;
}
.ninebynine{
    margin-left: 3em;
    color: #FFFFFF;
    display: grid;	
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .1fr .1fr .1fr;
    flex-shrink: 1 1 1;
   
    }
    .img{
        height: auto;
        max-width: 300px;
    }
.footer{
    color: white;
}
.nav:hover{
    background: rgba(126, 117, 117, 0.7);
}
@media screen and (min-width: 1200px){
    .ninebynine{
        margin-left: 6.7em;
    color: #FFFFFF;
    display: grid;	
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .1fr .1fr .1fr;
    flex-shrink: 1 1 1;
        }
        .img{
            height: auto;
            max-width: 500px;
        }

}
@media screen and (max-width: 800px){
    .ninebynine{
        margin-left: 1.5em;
        color: #FFFFFF;
        display: grid;	
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .1fr .1fr;
        flex-shrink: 1 1 1;
        }

}
@media screen and (max-width: 600px){

    #ban1{
        max-width: 600px;
     
    }
    .ninebynine{
        margin-left: .2em;
        color: #FFFFFF;
        display: grid;	
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .1fr .1fr ;
        flex-shrink: 1;
    }
    
    .ninebynine.a{
        padding-left: 0;
        flex-shrink: 1;
       }
    }


@media screen and (max-width: 500px){
    #ban1{
        max-width: 500px;
     
    }
    .ninebynine{
        margin-left: 2em;
        margin-bottom: 0.9em;
        color: #FFFFFF;
        display: grid;	
        grid-template-columns: 1fr;
        grid-template-rows: .3fr; 
        flex-shrink: 1;
    }
    
}
@media screen and (max-width: 410px){
    #ban1{
        max-width: 400px;
        margin-left: 1em;;
     
    }
    .ninebynine{
        margin-left: 1em;
        margin-bottom: 1em;
        color: #FFFFFF;
        display: grid;	
        grid-template-columns: 1fr;
        grid-template-rows: .2fr;
        flex-shrink: 1;
    }

}   

@media screen and (max-width: 350px){
    #ban1{
        max-width: 400px;
        margin-left: 1em;;
     
    }
    .ninebynine{
        margin-left: .3em;
        margin-bottom: 1em;
        color: #FFFFFF;
        display: grid;	
        grid-template-columns: 1fr;
        grid-template-rows: .2fr;
        flex-shrink: 1;
    }

}   